/*Fonts*/

@font-face {
    font-family: 'QuickSand';
    src: url(../fonts/QuickSand/Quicksand-Regular.ttf);
}

@font-face {
    font-family: 'QuickSand';
    src: url(../fonts/QuickSand/Quicksand-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'QuickSand';
    src: url(../fonts/QuickSand/Quicksand-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'QuickSand';
    src: url(../fonts/QuickSand/Quicksand-Light.ttf);
    font-weight: 300;
}

/*Body*/

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #555761;
    font-size: 12px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.row > [class*=col-] {
    padding-left: 10px;
    padding-right: 10px;
}

.bg {
    background-color: #F9FAFC;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

a,
button {
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active,
input:hover,
input:focus,
input:active,
select:hover,
select:focus,
select:active {
    outline: 0 !important;
    text-decoration: none;
    box-shadow: none;
}

img {
    max-width: 100%;
}

/* Typography */

.font-size-xxxl,
h1 {
    font-size: 36px;
}

.font-size-xxl,
h2 {
    font-size: 28px;
}

.font-size-xl,
h3 {
    font-size: 20px;
}

.font-size-l,
h4 {
    font-size: 18px;
}

.font-size-m {
    font-size: 16px;
}

.font-size-s {
    font-size: 14px;
}

.font-size-xs {
    font-size: 12px;
}

.font-size-xxs {
    font-size: 10px;
}

.bold {
    font-weight: 700 !important;
}

p {
    line-height: 30px;
}

/* Universal Spacing (margin) */

.margin-xxs {
    margin: 5px;
}

.margin-xs {
    margin: 10px;
}

.margin-s {
    margin: 15px;
}

.margin-m {
    margin: 20px;
}

.margin-l {
    margin: 25px;
}

.margin-xl {
    margin: 60px;
}

/* Individual Spacing (margin-top) */

.margin-top-xxs {
    margin-top: 5px;
}

.margin-top-xs {
    margin-top: 10px;
}

.margin-top-s {
    margin-top: 15px;
}

.margin-top-m {
    margin-top: 20px;
}

.margin-top-l {
    margin-top: 25px;
}

.margin-top-xl {
    margin-top: 60px;
}

/* Individual Spacing (margin-right) */

.margin-right-xxs {
    margin-right: 5px;
}

.margin-right-xs {
    margin-right: 10px;
}

.margin-right-s {
    margin-right: 15px;
}

.margin-right-m {
    margin-right: 20px;
}

.margin-right-l {
    margin-right: 25px;
}

.margin-right-xl {
    margin-right: 60px;
}

/* Individual Spacing (margin-bottom) */

.margin-bottom-xxs {
    margin-bottom: 5px;
}

.margin-bottom-xs {
    margin-bottom: 10px;
}

.margin-bottom-s {
    margin-bottom: 15px;
}

.margin-bottom-m {
    margin-bottom: 20px;
}

.margin-bottom-l {
    margin-bottom: 25px;
}

.margin-bottom-xl {
    margin-bottom: 60px;
}

/* Individual Spacing (margin-left) */

.margin-left-xxs {
    margin-left: 5px;
}

.margin-left-xs {
    margin-left: 10px;
}

.margin-left-s {
    margin-left: 15px;
}

.margin-left-m {
    margin-left: 20px;
}

.margin-left-l {
    margin-left: 25px;
}

.margin-left-xl {
    margin-left: 60px;
}

/* No padding */

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

/* No margin */

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

/* Border Radius */

.border-radius-s {
    border-radius: 3px;
}

.border-radius-m {
    border-radius: 5px;
}

.border-radius-l {
    border-radius: 10px;
}

/* Box Shadows */

.box-shadow-light {
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
}

.box-shadow-medium {
    box-shadow: 0 0 4px 0 rgba(192, 192, 192, 0.5);
}

.box-shadow-dark {
    box-shadow: 0 0 4px 0 rgba(94, 94, 94, 0.5);
}

/* Button */

.btn {
    border: 0 none;
    font-weight: 400;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

/* Button Sizes */

.btn-xl {
    padding: 20px 35px;
    font-size: 16px;
    border-radius: 3px;
}

.btn-l {
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 3px;
}

.btn-m {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
}

.btn-s {
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 3px;
}

.btn-xs {
    padding: 5px 15px;
    font-size: 10px;
    border-radius: 3px;
}

.btn-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-full {
    width: 100%;
    display: block;
}

/* Button Flat */

.btn-primary {
    background-color: #F26525;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:hover:focus {
    background-color: #FF7F45;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #F26525;
    color: #ffffff;
}

.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    background-color: #D6561D;
    color: #ffffff;
}

.btn-primary:active:focus,
.btn-primary.active {
    background-color: #D6561D;
    color: #ffffff;
    box-shadow: none;
}

.btn-secondary {
    background-color: #008CCF;
    color: #ffffff;
}

.btn-secondary:hover,
.btn-secondary:hover:focus {
    background-color: #00A6F5;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
    background-color: #008CCF;
    color: #ffffff;
}

.open > .dropdown-toggle.btn-secondary,
.open > .dropdown-toggle.btn-secondary.focus,
.open > .dropdown-toggle.btn-secondary:focus,
.open > .dropdown-toggle.btn-secondary:hover {
    background-color: #0072A9;
    color: #ffffff;
}

.btn-secondary:active:focus,
.btn-secondary.active {
    background-color: #0072A9;
    color: #ffffff;
    box-shadow: none;
}

.btn-ghost-primary {
    background-color: #ffffff;
    color: #555761;
    border: 1px solid #E0E6ED;
}

.btn-ghost-primary:hover,
.btn-ghost-primary:hover:focus {
    background-color: #F26525;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

.btn-ghost-primary:focus,
.btn-ghost-primary:active,
.btn-ghost-primary.active {
    background-color: #ffffff;
    color: #555761;
    border: 1px solid #E0E6ED;
}

.open > .dropdown-toggle.btn-ghost-primary,
.open > .dropdown-toggle.btn-ghost-primary.focus,
.open > .dropdown-toggle.btn-ghost-primary:focus,
.open > .dropdown-toggle.btn-ghost-primary:hover {
    background-color: #D6561D;
    color: #ffffff;
}

.btn-ghost-primary:active:focus,
.btn-ghost-primary.active {
    background-color: #D6561D;
    color: #ffffff;
    box-shadow: none;
}

.btn-ghost-secondary {
    background-color: #ffffff;
    color: #555761;
    border: 1px solid #E0E6ED;
}

.btn-ghost-secondary:hover,
.btn-ghost-secondary:hover:focus {
    background-color: #008CCF;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

.btn-ghost-secondary:focus,
.btn-ghost-secondary:active,
.btn-ghost-secondary.active {
    background-color: #ffffff;
    color: #555761;
    border: 1px solid #E0E6ED;
}

.open > .dropdown-toggle.btn-ghost-secondary,
.open > .dropdown-toggle.btn-ghost-secondary.focus,
.open > .dropdown-toggle.btn-ghost-secondary:focus,
.open > .dropdown-toggle.btn-ghost-secondary:hover {
    background-color: #0072A9;
    color: #ffffff;
}

.btn-ghost-secondary:active:focus,
.btn-ghost-secondary.active {
    background-color: #0072A9;
    color: #ffffff;
    box-shadow: none;
}

.btn-primary-border {
    border: 1px solid #F26525;
    color: #F26525;
}

.btn-primary-border:hover,
.btn-primary:hover:focus {
    background-color: #FF7F45;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

.btn-primary-border:focus,
.btn-primary-border:active,
.btn-primary-border.active {
    background-color: #F26525;
    color: #ffffff;
}

.btn-secondary-border {
    border: 1px solid #008CCF;
    color: #008CCF;
}

.btn-secondary-border:hover,
.btn-secondary:hover:focus {
    background-color: #008CCF;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

.btn-secondary-border:focus,
.btn-secondary-border:active,
.btn-secondary-border.active {
    background-color: #008CCF;
    color: #ffffff;
}

.owl-carousel .owl-stage-outer {
    width: 100%;
}

/* Forms */

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #008CCF;
    border-color: #008CCF;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    width: 100%;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #008CCF;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #008CCF;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #008CCF;
}

.radio.radio-right {
    padding-left: 0;
}

.radio.radio-right input[type="radio"] {
    right: 0;
    left: auto;
}

.radio.radio-right label::before,
.radio.radio-right label::after {
    left: auto;
    right: 0;
}

.radio.radio-right label::after {
    right: 3px;
}

.radio.radio-right label {
    padding-right: 20px;
    padding-left: 0;
}


/*TOP*/

.top-main-navigation {
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    z-index: 1000 !important;
    position: relative;
}

.top-main-navigation.header-secondary {
    box-shadow: none;
}

.top-main-navigation.header-secondary > .container {
    box-shadow: 0 0 4px 0 rgba(192, 192, 192, 0.5);
}

.top-main-navigation .row > div.col-xs-8 {
    padding-right: 10px;
    padding-left: 10px;
}

.top-main-navigation-slided .row > div.col-xs-8,
.header-secondary .row > div.col-xs-8 {
    padding-right: 0;
    padding-left: 0;
}

.btn-canvas-left {
    background: none;
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.canvas-wrapper-left,
.filter,
.sort {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: auto;
    overflow-x: hidden;
    overflow-y: auto;
    width: 0;
    height: 100%;
    z-index: 9100;
    transition: all 0.2s ease-out;
    padding: 0;
    margin: 0;
    left: 0;
    right: auto;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    background: #fff;
}

.canvas-wrapper-left.open,
.filter.open,
.sort.open {
    opacity: 1;
    visibility: visible;
    width: 100%;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.menu {
    background: #fff;
}

.menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu > ul li {
    position: relative;
    display: block;
}

.menu > ul > li a {
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;
    border-bottom: 1px solid #E4E9F3;
    color: #757886;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    position: relative;
}

.menu > ul > li > a > i {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 2px;
    margin-right: 15px;
}

.menu > ul > li.hassubmenu > a:after,
.menu > ul > li > ul > li.haschild > a:after,
.menu > ul > li > ul > li > ul > li.haschild > a:after {
    content: "\E627";
    font-family: 'anticon';
    float: right;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.menu > ul > li.hassubmenu > a.activemenu:after,
.menu > ul > li > ul > li.haschild > a.activemenu:after,
.menu > ul > li > ul > li > ul > li.haschild > a.activemenu:after {
    content: "\E624";
}

.menu > ul > li.hassubmenu > a.blue {
    color: #008CCF;
}

.menu > ul > li > ul {
    display: none;
    margin: 0;
    padding: 0;
}

.menu > ul > li > ul > li > a {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.menu > ul > li > ul > li.haschild > a.blue,
.menu > ul > li > ul > li > ul > li.haschild > a.blue {
    color: #008CCF;
    font-weight: 700;
}

.menu > ul > li > ul > li > ul {
    display: none;
    margin: 0;
    padding: 0;
}

.menu > ul > li > ul > li > ul > li > a {
    padding-left: 40px;
    font-weight: 400;
}

.menu > ul > li > ul > li > ul > li > ul {
    display: none;
    padding: 0;
    margin: 0;
}

.menu > ul > li > ul > li > ul > li > ul > li > a {
    padding-left: 70px;
    font-weight: 400;
}

.menu > ul > li > a .notification-dot {
    float: right;
}

.logo {
    padding-top: 20px;
    display: block;
    padding-bottom: 15px;
}

.logo img {
    max-width: 150px;
}

#top-sticky-sticky-wrapper {
    height: 116px !important;
}

#top-sticky-sticky-wrapper.top-main-navigation-slided {
    height: 66px !important;
}

@media(min-width:767px) {
    .logo {
        text-align: center;
    }
}

.top-main-navigation-slided .logo,
.header-secondary .logo {
    display: none;
}

.search-bar {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 3px;
    height: 40px;
    position: relative;
    margin-bottom: 10px;
}

.search-bar.search-slided {
    display: none;
}

.top-main-navigation-slided .search-bar.search-slided,
.header-secondary .search-bar.search-slided {
    display: block;
    margin-top: 15px;
    margin-right: 15px;
}

.top-main-navigation-slided .search-bar.search-main,
.header-secondary .search-bar.search-main {
    display: none;
}

.header-secondary .search-bar.search-slided {
    display: block;
}

.search-bar form {
    display: block;
}

.search-bar form:after {
    content: "";
    display: table;
    clear: both;
}

.search-clicked,
.search-typed {
    display: none;
}

.search-container {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 0 0 3px 3px;
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 1000000;
    right: 0;
}

.search-container .item-search {
    padding: 15px 25px;
    border-bottom: 1px solid #E0E6ED;
}

.search-container .item-search:last-child {
    border: 0;
}

.search-container .item-search > .title,
.search-container .notes > .title {
    color: #757886;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    margin: 0;
    margin-bottom: 10px;
}

.search-container .item-search .list-search {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-container .item-search .list-search li a {
    color: #757886;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
}

.category-search {
    width: 25%;
    float: left;
    border-right: 1px solid #E0E6ED;
    padding: 11px 15px;
    line-height: normal;
}

.list-category-search {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-category-search li {
    display: inline-block;
    margin-right: 10px;
}

.list-category-search li:last-child {
    margin-right: 0;
}

.pills {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 3px;
    display: block;
    padding: 7px 20px;
    color: #777A88;
    font-size: 10px;
    margin-bottom: 10px;
}

.pills.blue,
.pills:hover {
    background-color: #008CCF;
    color: #fff;
}

.product-show-search {
    margin-top: 5px;
}

.product-show-search > .row {
    margin: 0 -5px;
}

.product-show-search > .row > div {
    padding: 0 5px;
}

.product-show-search .notes {
    margin-bottom: 25px;
}

.product-show-search .notes .title {
    float: left;
    margin: 0;
    display: block;
    margin-bottom: 5px;
}

.product-show-search .notes .count {
    float: left;
    color: #757886;
    font-family: Quicksand;
    font-size: 10px;
    line-height: 12px;
    width: 100%;
}

.product-show-search .product-container {
    margin-left: -5px;
    margin-right: -5px;
}

.product-show-search .product-container .bitmap {
    float: left;
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.product-show-search .product-container:after {
    content: "";
    display: table;
    clear: both;
}

.product-show-search .price-box .price {
    font-size: 14px;
}

.product-show-search .price-box .price-old {
    font-size: 10px;
}

.product-show-search .product-container .discount-container {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.product-show-search .product-container .title {
    font-size: 12px;
    margin-top: 5px;
}

.product-show-search .product-container .infodeliv {
    font-size: 10px;
}

.product-show-search .product-container .infodeliv i {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.product-show-search .product-container .promotion {
    font-size: 10px;
}

.product-show-search .product-container .btn-s {
    font-size: 10px;
}

.product-show-search .see-more {
    color: #F26524;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    display: inline-block;
}

.category-search button.cat-button {
    background: none;
    border: 0;
    padding: 0;
    color: #757886;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.category-search button.cat-button i {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.search-bar input[type="text"] {
    border: 0;
    height: 40px;
    padding: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 72px;
    color: #f55820;
    font-weight: bold;
    background: none;
    font-size: 12px;
    line-height: 40px;
}

.search-bar input[type="text"]::-webkit-input-placeholder {
    color: #f55820;
    font-weight: bold;
}

.search-bar input[type="text"]::-moz-placeholder {
    color: #f55820;
    font-weight: bold;
}

.search-bar input[type="text"]:-ms-input-placeholder {
    color: #f55820;
    font-weight: bold;
}

.search-bar input[type="text"]:-moz-placeholder {
    color: #f55820;
    font-weight: bold;
}

.search-btn {
    background-color: #F26524;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 #F26524;
    height: 40px;
    border: 0;
    width: 62px;
    position: absolute;
    top: -1px;
    right: 0;
}

.search-btn:hover {
    background: #FF7F45;
}

.search-btn i {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

.search-bar .close-btn {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 12px;
    right: 13px;
    text-align: center;
    padding: 0;
    background: #F26524;
    border: 0;
    border-radius: 1000px;
    display: none;
}

.search-bar .close-btn i {
    font-size: 10px;
    color: #fff;
    line-height: 15px;
}

.top-main-navigation-slided .search-bar.search-slided .search-btn,
.header-secondary .search-bar.search-slided .search-btn {

    background: none;

    border: 0;

    box-shadow: none;

    color: #F26524;

    width: auto;

    width: 30px;
}

.top-main-navigation-slided .search-bar.search-slided .search-btn i,
.header-secondary .search-bar.search-slided .search-btn i {
    color: #F26524;
}

.top-main-navigation-slided .search-bar.search-slided input[type="text"],
.header-secondary .search-bar.search-slided input[type="text"] {
    padding-right: 30px;
    padding-left: 10px;
}

.header-cart {
    float: right;
    margin-left: 20px;
}

.mini-cart i,
.btn-canvas-left i {
    color: #757886;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

.order-static {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mini-cart i {
    float: left;
    margin-right: 3px;
    margin-top: -5px;
    line-height: normal;
}

.header-cart {
    margin-left: 0;
    width: 53px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.top-main-navigation-slided .header-cart,
.header-secondary .header-cart {
    width: 45px;
}

.notification-dot {
    background-color: #E4E9F3;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: block;
    color: #757886;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    float: left;
}

.top-main-navigation-slided .notification-dot,
.header-secondary .notification-dot {
    margin-top: 5px;
}

.top-main-navigation-slided .account-profile .icon i,
.top-main-navigation-slided .order-schedule i,
.top-main-navigation-slided .mini-cart i,
.top-main-navigation-slided .btn-canvas-left i,
.header-secondary .btn-canvas-left i,
.header-secondary .mini-cart i {
    font-size: 22px;
    margin-top: 5px;
}

.top-main-navigation-slided .btn-canvas-left,
.header-secondary .btn-canvas-left {

    padding-top: 17px;

    padding-bottom: 10px;
}

.header-secondary .sub-header:after {
    content: "";
    clear: both;
    display: table;
}

.header-secondary .sub-header {

    background-color: #FFFFFF;

    padding-bottom: 10px;

    padding-top: 10px;

    padding-left: 5px;

    padding-right: 5px;

    box-shadow: 0 0 4px 0 rgba(192, 192, 192, 0.5);
}

.header-secondary .sub-header .button {
    float: left;
    width: 50%;
    padding-right: 5px;
    padding-left: 5px;
}

.header-secondary .sub-header .button button {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 3px;
    width: 100%;
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    display: block;
    padding: 5px 10px;
    line-height: normal;
}

.header-secondary .sub-header .button button i {
    float: left;
    font-size: 12px;
    font-weight: 500;
    color: #757886;
}

.badge-count {
    background-color: #008CCF;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    line-height: 14px;
    float: right;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
}

/*Banner*/

.main-banner {
    background: linear-gradient(135deg, #ECE9E6 0%, #ECE9E6 100%);
    padding: 20px;
    padding-top: 0;
    padding-bottom: 26px;
}

.main-banner .container {}

.main-banner .slider-text,
.main-banner .slider-img,
.main-banner .slider-button {
    float: left;
    vertical-align: middle;
    display: table;
}

.main-banner .slider-text,
.main-banner .slider-img {
    width: 100%;
    text-align: center;
}

.main-banner .slider-content {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.main-banner .slider-img img {
    width: 277px;
    height: 149px;
    object-fit: cover;
    margin: 0 auto;
}

.main-banner .slider-text .title {
    color: #555762;
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
}

.main-banner .slider-text .desc {
    color: #555762;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.main-banner .slider-content .meta {
    display: block;
    margin-left: -9px;
    margin-right: -9px;
}

.main-banner .slider-content .meta:after {
    content: "";
    display: table;
    clear: both;
}

.main-banner .slider-content .meta span {
    padding-left: 9px;
    padding-right: 9px;
    display: inline-block;
    color: #555762;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}

.main-banner .slider-content .meta span i {
    color: #555762;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
}

.slider-content .btn-xl {
    margin: 0 auto;
    float: right;
    width: 280px;
}

.slider-images.owl-theme .owl-dots {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    margin: 0 !important;
}

.slider-images.owl-theme .owl-dots .owl-dot span {
    background: #c5c0c0;
    cursor: pointer;
    width: 5.6px;
    height: 5.6px;
    margin: 0;
    margin-right: 3px;
}

.slider-images.owl-theme .owl-dots .owl-dot.active span,
.slider-images.owl-theme .owl-dots .owl-dot:hover span {
    background: #008ccf
}

.secondary-banner {
    background: #fff;
    padding: 14px 0px;
}

.secondary-banner .text {

    padding: 10px;

    padding-top: 20px;
}

.secondary-banner .text .text-content {

    text-align: center;
}

.secondary-banner .text h3 {
    color: #757886;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    margin-bottom: 10px;
}

.secondary-banner .text p {
    color: #757886;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
}

.sub-banner-2-grid.sub-banner-container {
    background-color: #FFFFFF;
    border-radius: 4px 0 0 4px;
}

.sub-banner-2-grid.sub-banner-container .col-xs-8 {
    padding-right: 0;
}

.sub-banner-2-grid.sub-banner-container .text {
    padding: 20px;
}

.sub-banner-2-grid.sub-banner-container .text h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

.sub-banner-2-grid.sub-banner-container .text p {
    line-height: 22px;
    margin-bottom: 12px;
    font-size: 12px;
}

.sub-banner-2-grid.sub-banner-container .learn-more {
    color: #008CCF;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}

.sub-banner-2-grid.sub-banner-container .learn-more:hover {
    color: #00A6F5;
}

.sub-banner-2-grid.sub-banner-container .banner-image {
    width: 100%;
}

.sub-banner-2-grid.sub-banner-container.blue {
    background-color: #0263AA;
    border-radius: 0 4px 4px 0;
}

.sub-banner-2-grid.sub-banner-container.blue .text {
    color: #fff;
}

.sub-banner-2-grid.sub-banner-container.blue .learn-more {
    color: #fff;
}

.sub-banner-2-grid.sub-banner-container.blue .learn-more:hover {
    color: #fff;
}

.cover-banner {
    position: relative;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 160px;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
}

.cover-banner .bg-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cover-banner .text {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: table;
}

.cover-banner .text-content {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.cover-banner .text-content .container {
    padding: 20px;
}

.cover-banner .text-content h3 {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    margin-bottom: 10px;
}

.cover-banner .text-content p {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.pdp-banner {
    background-color: #FFFFFF;
    position: relative;
    margin-top: -50px;
}

.pdp-banner .container {
    position: relative;
}

.pdp-banner .owl-thumbs {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    height: 100%;
}

.pdp-banner .owl-thumb-item {
    border: 2px solid transparent;
    background: none;
    padding: 0;
    opacity: .5;
    background: #fff;
}

.pdp-banner .owl-thumbs.grid2 .owl-thumb-item {
    width: 145px;
    height: 145px;
    display: block;
    margin-bottom: 10px;
}

.pdp-banner .owl-thumbs.grid3 .owl-thumb-item {
    width: 90px;
    height: 90px;
    display: block;
    margin-bottom: 10px;
}

.pdp-banner .owl-thumbs.grid6 {
    width: 210px;
}

.pdp-banner .owl-thumbs.grid6 .owl-thumb-item {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 15px;
}

.pdp-banner .owl-thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pdp-banner .owl-thumb-item.active {
    opacity: 1;
    border: 2px solid #008ED1;
}

.pdp-banner .owl-pdpbanner .bitmap {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
}

.pdp-banner .owl-pdpbanner .owl-dots,
.owl-pdpbanner-right .owl-dots {
    counter-reset: slides-num;
    float: right;
    padding: 2px 3px;
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    right: 10px;
    bottom: 15px;
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 3px;
}

.pdp-banner .owl-pdpbanner .owl-dots:before,
.owl-pdpbanner-right .owl-dots:before {
    content: "\e674";
    font-family: 'anticon';
    color: #757886;
    font-size: 12px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.pdp-banner .owl-pdpbanner .owl-dots:after,
.owl-pdpbanner-right .owl-dots:after {
    content: counter(slides-num);
    display: inline-block;
    vertical-align: middle;
}

.pdp-banner .owl-pdpbanner .owl-dot,
.owl-pdpbanner-right .owl-dot {
    display: inline-block;
    counter-increment: slides-num;
}

.pdp-banner .owl-pdpbanner .owl-dot span,
.owl-pdpbanner-right .owl-dot span {
    display: none;
}

.pdp-banner .owl-pdpbanner .owl-dot.active:before,
.owl-pdpbanner-right .owl-dot.active:before {
    content: counter(slides-num) "/";
    display: inline-block;
    vertical-align: middle;
}

.pdp-banner-meta {
    position: absolute;
    bottom: 15px;
    left: 20px;
    z-index: 100;
}

.pdp-banner-meta button {
    background: none;
    padding: 0;
    border: 0;
    margin-right: 20px;
}

.pdp-banner-meta button i {
    color: #757886;
    font-size: 14px;
    font-weight: 500;
}

/*CARD*/

.card-container {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 20px;
}

.sub-banner-6-content {
    margin-left: -10px;
    margin-right: -10px;
}

.sub-banner-6-content:after {
    content: "";
    clear: both;
    display: table;
}

.sub-banner-6-grid {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    width: 33.33%;
    padding: 0 8px;
}

.sub-banner-6-grid .images {
    height: 50px;
    line-height: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
}

.sub-banner-6-grid a {
    color: #757886;
    font-family: Quicksand;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    text-align: left;
}

.sub-banner-6-grid a:hover {
    color: #000;
}

/*product-container*/

.background-container {
    background-color: #DB2B3E;
    border-radius: 3px 3px 0 0;
    height: 382px;
    text-align: center;
    padding: 25px;
}

.title-flash {
    color: #FFFFFF;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
    font-size: 16px;
}

.desc-flash {
    color: #fff;
    margin-bottom: 20px;
    font-size: 14px;
}

.desc-flash i {
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}

.flash-sale-container {
    background: #fff;
    padding-bottom: 35px;
}

.flash-sale-container .row {
    margin-left: -5px;
    margin-right: -5px;
}

.flash-sale-container .col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.product-flash {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -168px;
}

.price-box {
    position: relative;
    margin-bottom: 10px;
}

.price-box .price-old {
    color: #757886;
    position: relative;
    display: inline-block;
    opacity: 0.5;
    font-size: 14px;
}

.price-box .price-old:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #F26524;
}

.price-box .price {
    color: #008ED1;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    display: block;
}

.discount-container {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #f3591f;
    border-radius: 1000px;
    line-height: 40px;
    text-align: center;
    margin-top: -20px;
    font-size: 13px;
}

.offc-qty {

    margin-bottom: 25px;
}

.offc-qty:after {
    content: "";
    clear: both;
    display: table;
}

.offc-qty .product-qty {

    float: left;
}

.offc-qty .official-store {

    float: right;

    text-align: right;

    padding-top: 5px;
}

.product-container {
    background-color: #FFFFFF;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
    position: relative;
}

.product-container.product-container-hovered {
    box-shadow: 0 0 4px 0 rgba(94, 94, 94, 0.5);
    margin-top: -10px;
}

.product-container .bitmap .item {
    display: none;
}

.product-container .bitmap .item.selected {
    display: block;
}

.variant-color {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.variant-color .color-container {
    border-radius: 2px;
    background: #fff;
    border: 1px solid #ddd;
    margin-right: 5px;
    display: inline-block;
    width: 9px;
    height: 9px;
    cursor: pointer;
}

.variant-color .color-container:last-child {
    margin-right: 0;
}

.variant-color .color-container.red {
    border: 1px solid #D7001F;
    background: #D7001F;
}

.variant-color .color-container.gray {
    border: 1px solid #6F7477;
    background: #6F7477;
}

.variant-color .color-container.green {
    border: 1px solid #17DEBE;
    background: #17DEBE;
}

.variant-color .color-container.selected {
    border: 1px solid #ddd;
}

.product-container .bitmap {
    position: relative;
}

.product-container .bitmap img {
    width: 100%;
}

.product-container .box-container {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 0px 5px;
}

.product-container .price-box {
    border: 0;
    margin: 0;
    padding: 0;
}

.product-container .price-box .price-old {
    font-size: 10px;
}

.product-container .price-box .price {
    display: block;
    font-size: 14px;
    line-height: 19px;
}

.product-container .discount-container {
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 50%;
    margin-top: 0;
    font-size: 10px;
    font-weight: 400;
    margin-top: -15px;
    right: 0;
}

.product-container .title {
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}

.product-container .title a {
    line-height: 17px;
    color: #757886;
}

.product-container .infodeliv {
    color: #aaa;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    opacity: 0.7;
}

.product-container .infodeliv i {
    margin-right: 5px;
}

.product-container .promotion {
    color: #FF0000;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    opacity: 0.7;
}

.product-container .promotion i {
    margin-right: 5px;
    font-size: 12px;
}

.product-container .btn {
    opacity: 0;
    visibility: hidden;
    margin-top: 10px;
}

.product-container.product-container-hovered .btn {
    opacity: 1;
    visibility: visible;
}

.stops-icon {
    background-image: url("../images/icon/stops-icon-mini.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 10px;
    background-repeat: no-repeat;
}

.delivery-icon {
    background-image: url("../images/icon/delivery-icon.svg");
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 10px;
    background-repeat: no-repeat;
}

.flash-countdown span {
    background-color: #555762;
    border-radius: 4px;
    width: 68px;
    height: 68px;
    display: inline-block;
    font-weight: 700;
    line-height: 68px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    font-size: 28px;
}


/*EXPLORE*/

.title-section {
    margin-bottom: 15px;
}

.title-section h2 {
    color: #757886;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    margin: 0;
}

.explore .row {
    margin-left: -7.4px;
    margin-right: -7.4px;
}

.explore-item {
    margin-bottom: 15px;
}

.explore-item .bitmap {
    margin-bottom: 15px;
    overflow: hidden;
}

.explore-item .bitmap img {
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    height: 88px;
}

.explore-item .title h2 {
    color: #757886;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.explore-item:hover .title h2 {
    color: #000;
}

.explore-item:hover .bitmap img {
    transform: scale(1.1);
}

/*EXPLORE CATEGORY*/

.explore {
    padding-left: 10px;
    padding-right: 10px;
}

.explore-by-category-content,
.explore-by-trending-content,
.explore-by-budget-content {
    margin-left: -5px;
    margin-right: -5px;
}

.explore-by-category-content:after,
.explore-by-trending-content:after,
.explore-by-budget-content:after {
    content: "";
    clear: both;
    display: table;
}

.explore-by-category-content .explore-by-category-12grid:nth-of-type(2n + 1),
.explore-by-trending-content .explore-by-trending-12grid:nth-of-type(2n + 1),
.explore-by-budget-content .explore-by-budget-5grid:nth-of-type(2n + 1) {
    clear: left;
}

.explore .explore-by-category-3grid,
.explore .explore-by-category-12grid,
.explore .explore-by-category-4grid,
.explore .explore-by-category-5grid {
    padding-left: 5px;
    padding-right: 5px;
}

.explore-by-category-3grid {
    float: left;
    width: 33.33%;
}

.explore-by-category-12grid {
    float: left;
    width: 50%;
}

.explore-by-category-4grid {
    float: left;
    width: 25%;
}

.explore-by-category-5grid {
    float: left;
    width: 20%;
}

.explore .explore-by-category-4grid .explore-item .title h2 {
    font-size: 18px;
}

.explore .explore-by-category-5grid .explore-item .title h2 {
    font-size: 16px;
}

/*EXPLORE TRENDING*/

.explore.trending .explore-item .bitmap {
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    background-color: #FFFFFF;
    vertical-align: middle;
}

.explore .explore-by-trending-12grid,
.explore .explore-by-trending-3grid,
.explore .explore-by-trending-4grid,
.explore .explore-by-trending-5grid {
    padding-left: 5px;
    padding-right: 5px;
}

.explore-by-trending-12grid {
    float: left;
    width: 50%;
}

.explore-by-trending-3grid {
    float: left;
    width: 33.33333333%;
}

.explore-by-trending-4grid {
    float: left;
    width: 25%;
}

.explore-by-trending-5grid {
    float: left;
    width: 20%;
}

.explore .explore-by-trending-4grid .explore-item .title h2 {
    font-size: 18px;
}

.explore .explore-by-trending-5grid .explore-item .title h2 {
    font-size: 16px;
}

.explore-by-budget-5grid {
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    width: 50%;
}

.price-container {
    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    width: 88px;
    height: 88px;
    color: #757886;
    font-size: 18px;
    font-weight: 700;
    line-height: 88px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}

.price-container .upto {
    color: #757886;
    line-height: 17px;
    font-size: 10px;
    font-weight: 500;
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 15px;
}

.explore-by-brand-8-g {
    float: left;
    width: 25%;
}

.brand-logo-container {
    background-color: #FFFFFF;
    border: 1px solid #E4E9F3;
    padding: 25px 13px;
}

.owl-brand.owl-carousel .owl-item .brand-logo-container .bitmap {
    display: initial;
    max-width: 100%;
}

.owl-brand.owl-theme .owl-nav .disabled {
    display: none;
}

.owl-brand.owl-theme .owl-nav [class*=owl-] {
    position: absolute;
    top: 50%;
    left: -10px;
    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    width: 30px;
    height: 30px;
    color: #757886;
    line-height: 25px;
    margin-top: -15px;
}

.owl-brand.owl-theme .owl-nav .owl-next {
    left: auto;
    right: 10px;
}

.popover {
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(192, 192, 192, 0.5);
    width: 300px;
    height: 85.53px;
    right: 0;
    border: 0;
    color: #555761;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.popover.top > .arrow {
    border-width: 8px;
    bottom: -17px;
}

.explore-inspiration .row {
    margin: 0px -5px;
}

.explore-inspiration .col-xs-3 {
    padding: 0px 5px;
}

.explore-inspiration .bitmap.shadow {
    position: relative;
    height: 200px;
}

.explore-inspiration .bitmap.shadow:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: #0000003d;
    bottom: 0;
}

.explore-inspiration .bitmap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explore-inspiration .bitmap .text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    padding: 25px;
    background-image: linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, #000000 100%);
}

.explore-inspiration .inspiration-container-right .bitmap .text {
    text-align: right;
}

.container-card {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    padding: 25px;
    transition: all 0.5s ease-in-out;
}

.inspiration-container {
    margin-bottom: 15px;
}

.inspiration-container .container-card {
    padding: 20px;
}

.product-container-pcp {
    margin: 0px -5px;
}

.product-container-pcp:after {
    content: "";
    clear: both;
    display: table;
}

.product-container-pcp .product-container {
    float: left;
    width: 50%;
    padding-right: 5px;
    padding-left: 5px;
}

.title-card {
    margin-bottom: 25px;
}

.title-card h2 {
    color: #757886;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
}

.see-more-content {
    padding: 5px 20px;
}

/*RECOOMEND*/

.recommended-for-you-container .title-card {
    margin-bottom: 20px;
}

.recommended-for-you-container .title-card h2 {
    font-size: 16px;
    text-align: center;
}

/*FOOTER*/

.footer {
    background-color: #FFFFFF;
    padding: 15px 0px;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
}

.hr {
    background-color: #E0E6ED;
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 15px;
}

.footer-menu li {
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
}

.footer-menu li:after {
    content: "";
    width: 2px;
    height: 2px;
    border-radius: 1000px;
    display: inline-block;
    background: #757886;
    position: absolute;
    top: 50%;
    right: 0;
}

.footer-menu li a {
    color: #757886;
    font-size: 12px;
    line-height: 28px;
    display: block;
}

.footer-menu li a:hover {
    color: #000;
}

.footer-menu li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.footer-menu li:last-child:after {
    display: none;
}

.logo-footer {
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo-footer-container {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 4px;
    width: 75px;
    height: 30px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.logo-footer-container.noborder {
    border: 0;
    width: auto;
}

.form-m {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 4px;
    height: 40px;
    position: relative;
    width: 100%;
}

.form-m input {
    border: 0;
    height: 38px;
    width: 100%;
    padding-left: 15px;
    padding-right: 75px;
    color: #757886;
}

.rectangle-2 {
    background-color: #F26524;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #F26524;
    width: 60px;
    height: 40px;
    border: 0;
    position: absolute;
    top: -2px;
    right: 0;
    color: #FFFFFF;
}

.rectangle-2:hover {
    background-color: #FF7F45;
}

.rectangle-2 i {
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
}

.footer-bottom {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.footer-bottom p {
    margin-bottom: 15px;
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.footer-bottom .logo-footer-container {
    float: none;
    display: inline-block;
    margin-bottom: 0;
    width: 50px;
    height: 20px;
    margin-right: 7px;
}

.footer-bottom ul li.logo-footer-container {
    margin-right: 0;
}

.title-footer-bottom {
    float: left;
    color: #757886;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
}

.copyright {
    margin-top: 15px;
}

.copyright p {
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 0;
    text-align: center;
}

/*PRODUCT CATEGORY PAGE*/

.filter .card-title,
.sort .card-title {
    padding: 15px;
}

.filter .card-title:after,
.sort .card-title:after {
    content: "";
    clear: both;
    display: table;
}

.filter .card-title > a {
    float: left;
    width: 10%;
    font-size: 14px;
    color: #008ED1;
}

.filter .card-title .title,
.sort .card-title .title {
    float: left;
    width: 80%;
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #757886;
    line-height: normal;
}

.sort .card-title .title {
    width: 95%;
}

.filter .card-title > button,
.sort .card-title > button {
    padding: 0;
    border: 0;
    background: none;
    font-size: 22px;
    font-weight: 500;
    line-height: 17px;
    width: 5%;
    float: right;
    height: auto;
}

.info-box-pcp {
    background-color: #E5F7FF;
    padding: 15px;
    position: relative;
}

.info-box-pcp i {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #757886;
    font-size: 18px;
    font-weight: 500;
}

.info-box-pcp .text {
    padding-left: 25px;
    display: block;
    color: #757886;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.filter .card-content,
.sort .card-content {
    padding: 20px;
    border-top: 1px solid #E0E6ED;
}

.filter .card-content.button,
.sort .card-content.button {
    padding: 10px;
    border-top: 0;
    box-shadow: 0 0 4px 0 rgba(192, 192, 192, 0.5);
}

.filter .card-content.button button,
.sort .card-content.button button {
    font-weight: 700;
}

.form-m select {
    padding-left: 10px;
    padding-right: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    height: 40px;
    background: none;
    width: 100%;
    position: relative;
    z-index: 10;
}

.form-m.select {
    position: relative;
}

.form-m.select:after {
    content: "\e61d";
    font-family: "anticon" !important;
    position: absolute;
    top: 0;
    height: 40px;
    line-height: 40px;
    right: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #757886;
}

.form-m.location:after {
    content: "\e686";
}

.filter .card-subtitle,
.sort .card-subtitle {
    color: #757886;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    margin-top: 0;
}

.filter .card-desc,
.sort .card-desc {
    color: #757886;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
}

.container-menu {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 4px;
}

.container-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-menu ul:after {
    content: "";
    clear: both;
    display: table;
}

.container-menu ul li {
    float: left;
    width: 50%;
    padding: 15px;
    position: relative;
}

.container-menu ul li:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 7px;
    top: 7px;
    width: 1px;
    background-color: #E0E6ED;
}

.container-menu ul li:last-child:after {
    display: none;
}

.container-menu ul li .radio {
    position: absolute;
    top: 0;
    right: 10px;
    display: inline-block;
    padding: 0;
}

.container-menu ul li .radio label {
    width: auto;
}

.container-menu .text {
    text-align: center;
}

.container-menu .text i {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block;
}

.container-menu .text span {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #757886;
}

.form-s {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 4px;
    width: 125px;
    height: 31px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-s.pull-right {
    text-align: right;
}

.price-range {
    margin-top: 10px;
}

.price-range .noUi-horizontal {
    height: 10px;
    box-shadow: none;
    border-radius: 0;
    background: none;
    margin-top: 30px;
}

.price-range .noUi-connect {
    background-color: #008CCF;
    border-radius: 5px;
}

.price-range .noUi-horizontal .noUi-handle {
    background-color: #FFFFFF;
    border: 1px solid #008CCF;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    top: -10px;
    box-shadow: none;
}

.price-range .noUi-horizontal .noUi-handle:focus {
    outline: 0 !important;
}

.price-range .noUi-handle:after,
.price-range .noUi-handle:before {
    display: none;
}

.price-range .mintext,
.price-range .maxtext {
    margin-top: 15px;
    display: inline-block;
    font-size: 12px;
}

.price-range .maxtext {
    float: right;
}

.info-bar {
    background-color: #E5F7FF;
    text-align: center;
    padding: 5px;
}

.info-bar .text {
    color: #757886;
    font-size: 10px;
    line-height: 12px;
}

.info-bar i {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-right: 5px;
}

.form-search-filter {
    position: relative;
}

.form-search-filter .form-s {
    width: 100%;
    padding-right: 30px;
}

.form-search-filter button {
    position: absolute;
    top: 0;
    right: 0;
    height: 31px;
    background: none;
    border: 0;
}

.brand-filter {
    padding-top: 17px;
}

.brand-filter .radio {
    margin-bottom: 10px;
    display: block;
    margin-top: 0;
}

.brand-arrow-down {
    text-align: center;
    margin-top: 10px;
}

.brand-arrow-down > a {
    color: #757886;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.color-container-list {
    list-style: none;
    padding: 0;
    margin: 0 -12.5px;
}

.color-container-list:after {
    content: "";
    clear: both;
    display: table;
}

.color-container-list li {
    float: left;
    padding-left: 12.5px;
    padding-right: 12.5px;
    margin-top: 15px;
    cursor: pointer;
}

.color-container-list .color-container {
    background-color: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 100%;
    width: 49px;
    height: 49px;
    display: block;
}

.color-container-list .color-container.black {
    background-color: #000000;
    border: 1px solid #000000;
}

.color-container-list .color-container.red {
    background-color: #D0021B;
    border: 1px solid #D0021B;
}

.color-container-list .color-container.orange {
    background-color: #F5A623;
    border: 1px solid #F5A623;
}

.color-container-list .color-container.yellow {
    background-color: #F8E71C;
    border: 1px solid #F8E71C;
}

.color-container-list .color-container.brown {
    background-color: #8B572A;
    border: 1px solid #8B572A;
}

.color-container-list .color-container.green {
    background-color: #7ED321;
    border: 1px solid #7ED321;
}

.color-container-list .color-container.pink {
    background-color: #E0107F;
    border: 1px solid #E0107F;
}

.color-container-list .color-container.blue {
    background-color: #4A90E2;
    border: 1px solid #4A90E2;
}

.color-container-list .color-container.blue-light {
    background-color: #50E3C2;
    border: 1px solid #50E3C2;
}

.color-container-list .color-container.purple {
    background-color: #9013FE;
    border: 1px solid #9013FE;
}

.color-container-list .color-container.white {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.sort .card-content {
    padding: 0;
}

.sort-by {

    list-style: none;

    padding: 0;
}

.sort-by li a {
    display: block;
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid #E0E6ED;
    padding: 15px 25px;
}

.flash-sale-container .col-xs-6:nth-of-type(2n + 1),
.product-container-pcp .row .col-xs-3:nth-of-type(4n + 1),
.product-container-pcp .product-container:nth-of-type(2n + 1),
.sub-banner-6-content .sub-banner-6-grid:nth-of-type(3n + 1) {
    clear: left;
}

.category-list {
    background: #fff;
}

.product-container-pcp-luxury {
    padding: 0px 10px;
}

.product-container-pcp-luxury .product-container {
    padding: 15px 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 1px;
}

.product-container-pcp-luxury .product-container.product-container-hovered {
    margin-top: 0;
    box-shadow: 0 0 4px 0 rgba(94, 94, 94, 0.5);
}

.product-container-pcp-luxury .product-container:after {
    content: "";
    display: table;
    clear: both;
}

.product-container-pcp-luxury .product-container .bitmap {
    float: left;
    width: 50%;
    padding-right: 10px;
}

.product-container-pcp-luxury .product-container .box-container {
    padding: 0;
    float: left;
    width: 100%;
    margin-top: 5px;
}

.product-container-pcp-luxury .product-container .box-container .title {
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
}

.product-container-pcp-luxury .product-container .box-container .desc {
    margin: 10px 0px;
    line-height: 20px;
    color: #757886;
    font-size: 12px;
}

.product-container-pcp-luxury .product-container .images-thumb {}

.product-container-pcp-luxury .product-container .images-thumb:after {
    content: "";
    clear: both;
    display: table;
}

.product-container-pcp-luxury .product-container .img-container {
    float: left;
    width: 50%;
    padding: 0px 0;
    height: 69px;
    overflow: hidden;
}

.product-container-pcp-luxury .product-container .img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-container-pcp-luxury .box-container-right {
    float: left;
    width: 50%;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
}

.product-container-pcp-luxury .product-container .price-box {
    text-align: right;
    padding-right: 35px;
}

.product-container-pcp-luxury .product-container .amount {
    color: #757886;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    opacity: 0.7;
    margin-top: 6px;
    display: block;
}

.paggination {
    border: 1px solid #E0E6ED;
    border-radius: 4px;
}

.product-container .wishlist-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: 0;
    color: #757886;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.product-container.product-container-hovered .wishlist-btn {
    opacity: 1;
    visibility: visible;
}

.paggination > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.paggination > ul:after {
    clear: both;
    content: "";
    display: table;
}

.paggination > ul > li {
    float: left;
}

.paggination > ul > li > a {
    display: block;
    padding: 10px 14px;
    background: #fff;
    border-right: 1px solid #E0E6ED;
    color: #757886;
    font-size: 12px;
    line-height: 14px;
}

.paggination > ul > li.active > a {
    background-color: #008CCF;
    color: #fff;
    font-weight: 700;
}

.paggination > ul > li:first-child > a {
    border-radius: 4px 0px 0px 4px;
}

.paggination > ul > li:last-child > a {
    border: 0;
    border-radius: 0px 4px 4px 0px;
}

.seo-container {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 25px;
}

.seo-container h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
}

.seo-container p {
    margin-bottom: 25px;
}

.seo-container p:last-child {
    margin-bottom: 0;
}

/*PDP PRODUCT*/

.product-info-container {}

.product-info-box {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E0E6ED;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

.product-info-box.no-border {
    border: 0 !important;
    margin-bottom: 0;
}

.product-info-container .title-product {
    margin: 0;
    color: #757886;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.product-info-container .official-store {
    color: #757886;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.product-info-container .official-store i {
    color: #1AD100;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    margin-right: 5px;
}

.product-info-container .official-store small {
    display: block;
    margin-top: 4px;
    color: #757886;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    opacity: 0.5;
}

.product-info-container .product-info .row {
    margin-left: -5px;
    margin-right: -5px;
}

.product-info-container .product-info .row > div {
    padding-left: 5px;
    padding-right: 5px;
}

.product-info-container .sub-title {
    margin: 0;
    margin-bottom: 15px;
    color: #757886;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.product-info-container .product-desc p {
    margin: 0;
    margin-bottom: 20px;
    color: #757886;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.productboxsku .row {
    margin-left: -7.5px;
    margin-right: 7.5px;
}

.productboxsku .row > div {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.product-info-container .product-variant-box {

    color: #757886;

    font-size: 14px;

    font-weight: 400;

    line-height: 22px;

    text-align: left;
}

.product-info-container .product-variant-box td {

    padding: 5px;

    vertical-align: top;
}

.product-shipping {
    padding-top: 20px;
}

.product-shipping .send {
    margin-bottom: 15px;
    color: #757886;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.product-shipping .send p {
    margin: 0;
    font-size: 14px;
}

.product-shipping .send > p i {
    margin-right: 5px;
    position: relative;
    top: 0px;
}

.sendlocation {
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 15px;
    padding-right: 50px;
    position: relative;
}

.product-shipping .send .sendlocation .edit {
    position: absolute;
    top: 0;
    right: 0;
    color: #008ED1;
}

.info-container {
    text-align: center;
    background-color: #E5F7FF;
    color: #757886;
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
    margin-bottom: 25px;
}

.info-container small {
    display: block;
    font-size: 10px;
    opacity: 0.5;
}

.info-container small i {
    font-size: 12px;
    margin-right: 6px;
}

.orhr {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.orhr:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #E0E6ED;
    position: absolute;
    left: 0;
    top: 50%;
}

.orhr span {
    background: #fff;
    position: relative;
    padding: 0px 15px;
    color: #757886;
    font-size: 14px;
}

.itempickup {
    margin-top: 20px;
}

.itempickup .pills {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 8px;
}

.itempickup .edit {
    color: #008ED1;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-left: 10px;
}

.container-illustration {
    background: #E4E9F3;
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid #fff;
    margin-left: -20px;
    margin-right: -20px;
    color: #757886;
    min-height: 100px;
}

.container-illustration .subhead {
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
    line-height: 17px;
    font-size: 14px;
}

.container-illustration .subhead i {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.container-illustration h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 5px;
}

.container-illustration h3 i {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.container-illustration h4 {
    font-size: 12px;
    line-height: 14px;
}

.cicilan-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cicilan-list ul li {
    color: #757886;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

/*REVIEWS*/

.reviews {
    padding: 20px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E0E6ED;
    margin-left: -20px;
    margin-right: -20px;
}

.total-reviews {
    margin-bottom: 25px;
}

.total-reviews:after {
    content: "";
    clear: both;
    display: table;
}

.total-reviews .totals {
    float: left;
    margin-right: 10px;
    color: #F5E300;
    font-size: 36px;
    line-height: 43px;
}

.total-reviews .rating {
    float: left;
}

.total-reviews .rating .star i {
    color: #F5E300;
    font-weight: 500;
    line-height: 17px;
}

.total-reviews .rating .star {
    margin-bottom: 5px;
    display: block;
}

.total-reviews .rating small {
    display: block;
    font-size: 10px;
    line-height: 12px;
    color: #757886;
}

.reviews-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reviews-list .item {
    margin-bottom: 20px;
}

.reviews-list .item:last-child {
    margin-bottom: 0;
}

.reviews-list .item .star {
    margin-bottom: 5px;
    display: block;
}

.reviews-list .item .star i {
    color: #F5E300;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
}

.reviews-list .item .author {
    color: #757886;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    margin-bottom: 5px;
}

.reviews-list .item .author span {
    opacity: 0.5;
    margin-left: 15px;
    display: inline-block;
}

.reviews-list .item .content {
    color: #8492A6;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
}

.reviews-list .item .reviews-bottom span {
    display: inline-block;
    background-color: #F0F2F7;
    border-radius: 2px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin-right: 10px;
}

.reviews-list .item .reviews-bottom span i {
    color: #8492A6;
    font-size: 12px;
    font-weight: 500;
}

#simulasi-cicilan {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.logo-simulasi {
    margin-top: 15px;
}

.logo-simulasi button {
    width: 100%;
    text-align: left;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 4px;
    padding: 0px 20px;
}

.logo-simulasi button img {
    margin-top: 5px;
}

.logo-simulasi button .text {
    float: right;
    color: #008ED1;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
}

.logo-simulasi .dropdown-menu {
    width: 100%;
    border-color: #E0E6ED;
}

.logo-simulasi .dropdown-menu li {
    margin-bottom: 5px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

/*RIGHT PDP*/

.pdp-action-right.container-card {
    padding: 0;
}

.qty-input button {
    border: 1px solid #E0E6ED;
    height: 40px;
    background: #fff;
    width: 44px;
    margin-left: -5px;
    position: relative;
    top: 1px;
}

.qty-input button i {
    color: #757886;
    font-size: 14px;
    font-weight: 500;
}

.qty-input button:first-child {
    margin-right: -5px;
    margin-left: 0;
}

.qty-input input {
    width: 57px;
    border: 1px solid #E0E6ED;
    height: 40px;
    text-align: center;
}

.product-info-container .color-variant {}

.product-info-container .color-variant label {
    color: #757886;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 10px;
}

.product-info-container .color-variant ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-info-container .color-variant li {
    display: inline-block;
    position: relative;
}

.product-info-container .color-variant li a {
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 3px;
    margin-right: 15px;
    display: block;
}

.product-info-container .color-variant li.active:after {
    content: "\e632";
    font-family: 'anticon';
    position: absolute;
    top: 2px;
    left: 7px;
    color: #fff;
}

.product-info-container .color-variant li a.brown {
    background: #824c27;
}

.product-info-container .color-variant li a.red {
    background: #ce0019;
}

.product-info-container .color-variant li a.yellow {
    background: #f7e318;
}

.product-info-container .color-variant li a.green {
    background: #386b04;
}

.product-info-container .form-button {
    border-top: 1px solid #E0E6ED;
    padding: 10px 25px;
}

.buy-content .owl-carousel .item {
    text-align: center;
}

.buy-content .owl-carousel .item img {
    height: 100px;
    width: auto;
    margin: 0 auto;
}

.product-info-container .image-container-slider {
    background: #fff;
    text-align: center;
    display: none;
}

.product-info-container .image-container-slider img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin: 0 auto;
}

.owl-pdpbanner-right .owl-dots {
    left: auto;
    right: 10px;
    bottom: 0;
}

.pdp-action-right.is_stuck {
    top: 80px !important;
    z-index: 10;
}

.pdp-action-right.is_stuck .image-container-slider {
    display: block;
}

.pdp-action-righ.is_stuck.price-box {
    border-top: 1px solid #E0E6ED;
    margin-top: 20px;
}

.sub-navigation-sticky {
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    padding: 15px 25px;
    z-index: 100 !important;
    display: none;
}

.is-sticky .sub-navigation-sticky {
    display: block;
}

.sticky-subnavigation-sticky-wrapper {
    position: fixed;
}

.sub-navigation-sticky > a {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    margin-right: 20px;
    color: #757886;
}

.sub-navigation-sticky > a.active {
    color: #F26524;
}

/*MY TRANSACTION*/

.my-transaction-item {
    padding: 20px;
}

.header-transaction {

    background: #fff;

    padding: 15px;

    border-bottom: 1px solid #E0E6ED;

    text-align: center;

    position: relative;

    z-index: 1000 !important;
}

.header-transaction .title {

    margin: 0;

    padding: 0;

    color: #757886;

    font-size: 16px;

    font-weight: 700;

    line-height: 19px;
}

.header-transaction .close {

    color: #757886;

    font-size: 22px;

    font-weight: 500;

    line-height: 26px;

    position: absolute;

    right: 15px;

    top: 20%;

    opacity: 1;
}

.transaction-head {
    margin-bottom: 25px;
}

.transaction-head h3 {

    margin: 0;

    color: #757886;

    font-size: 16px;

    font-weight: 400;

    line-height: 19px;

    text-align: left;
}

.ruparupa-text {

    font-weight: 700;
}

.ruparupa-text .red {

    color: #F26524;
}

.ruparupa-text .blue {

    color: #0C94D4;
}

.rectangle-4 {
    background-color: #E5F7FF;
    padding: 15px 25px;
    text-align: center;
}

.rectangle-4 h3 {
    margin: 0;
    color: #757886;
    font-family: Quicksand;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}

.rectangle-4 h3 i {
    color: #757886;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    margin-right: 5px;
}

.label {
    border-radius: 3px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
}

.label.label-warning {
    background-color: #F5A623;
    border: 1px solid #E0E6ED;
}

.transaction-header {
    margin-bottom: 20px;
}

.transaction-header table {
    width: 100%;
}

.transaction-header table tr td {
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E6ED;
}

.transaction-header table tr td:first-child {
    width: 50%;
}

.transaction-header table tr td:last-child {
    text-align: right;
    padding-right: 0;
}

.transaction-header table tr td img {
    margin-right: 15px;
}

.transaction-table {
    margin-bottom: 15px;
}

.transaction-table table {
    width: 100%;
}

.transaction-table thead td {
    color: #757886;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.transaction-table tbody td,
.transaction-table tfoot td {
    color: #757886;
    font-size: 16px;
    line-height: 19px;
    padding-top: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E6ED;
}

.transaction-table tbody td {
    padding-bottom: 20px;
}

.transaction-table tbody tr:last-child td {
    border: 0;
}

.transaction-table tbody td.images {
    width: 70px;
}

.transaction-table tbody td.images img {
    width: 70px;
    height: 70px;
}

.transaction-table tbody td.product {
    padding-left: 10px;
}

.transaction-table tbody td.product h3 {
    margin: 0;
    margin-bottom: 5px;
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.transaction-table tbody td.product h3 a {
    color: #757886;
}

.transaction-table tbody td.product .variant {
    color: #757886;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    display: block;
}

.transaction-table tbody td.product .price-oldcontent {
    display: block;
}

.transaction-table tbody td.product .price-old {
    color: #757886;
    position: relative;
    display: inline-block;
    opacity: 0.5;
    font-size: 10px;
}

.transaction-table tbody td.product .price-old:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #F26524;
}

.transaction-table tbody td.product .discount {
    color: #F3251D;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin-left: 5px;
}

.transaction-table tbody td.product .total-price {
    color: #008ED1;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}

.transaction-table-status table {
    width: 100%;
}

.transaction-table-status thead td {
    color: #757886;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    padding-bottom: 20px;
}

.transaction-table-status tbody td.from {
    position: relative;
    width: 20%;
    vertical-align: top;
    color: #757886;
    line-height: 12px;
    font-size: 10px;
    border-right: 4px solid #E0E6ED;
    padding-right: 20px;
}

.transaction-table-status tbody .primary .from {}

.transaction-table-status tbody td.from span:after {
    content: "";
    background-color: rgb(186, 187, 194);
    border-radius: 100%;
    width: 24px;
    height: 24px;
    position: absolute;
    right: -14px;
    top: -3px;
}

.transaction-table-status tbody td.from span:before {
    content: "\e632";
    font-family: 'anticon';
    position: absolute;
    color: #fff;
    z-index: 10;
    width: 24px;
    height: 24px;
    right: -14px;
    top: -3px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
}

.transaction-table-status tbody .danger td.from span:before {

    content: "\e633";
}

.transaction-table-status tbody .primary td.from span:after {
    background-color: #008ED1;
}

.transaction-table-status tbody .warning td.from span:after {
    background-color: #F26524;
}

.transaction-table-status tbody .danger td.from span:after {
    background-color: #D0021B;
}

.transaction-table-status tbody .purple td.from span:after {
    background-color: #621862;
}

.transaction-table-status tbody .success td.from span:after {
    background-color: #238B22;
}

.transaction-table-status tbody td.info {
    width: 80%;
    padding-left: 20px;
    vertical-align: top;
    padding-bottom: 10px;
}

.transaction-table-status tbody td.info .date {
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    opacity: 0.5;
}

.transaction-table-status tbody td.info p {
    margin: 0;
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
