/*!
 * RUPARUPA UI v1.0 (https://www.ruparupa.com)
 * Copyright 2018 RUPARUPA Product Team
 */
/* Fonts */
@font-face {
  font-family: 'QuickSand';
  src: url(../fonts/QuickSand/Quicksand-Regular.ttf);
}
@font-face {
  font-family: 'QuickSand';
  src: url(../fonts/QuickSand/Quicksand-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'QuickSand';
  src: url(../fonts/QuickSand/Quicksand-Medium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'QuickSand';
  src: url(../fonts/QuickSand/Quicksand-Light.ttf);
  font-weight: 300;
}
/* Document Variables */
/* Color Scheme */
/* Typography */
/* Universal Spacing (margin) */
/* Universal Spacing (padding) */
/* General */
a,
button {
  transition: all 0.3s ease-in-out;
}
a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active,
input:hover,
input:focus,
input:active,
select:hover,
select:focus,
select:active {
  outline: 0 !important;
  text-decoration: none;
  box-shadow: none;
}
img {
  max-width: 100%;
}
/* Typography */
.font-size-xxxl,
h1 {
  font-size: 36px;
}
.font-size-xxl,
h2 {
  font-size: 28px;
}
.font-size-xl,
h3 {
  font-size: 20px;
}
.font-size-l,
h4 {
  font-size: 18px;
}
.font-size-m {
  font-size: 16px;
}
.font-size-s {
  font-size: 14px;
}
.font-size-xs {
  font-size: 12px;
}
.font-size-xxs {
  font-size: 10px;
}
.bold {
  font-weight: 700 !important;
}
p {
  line-height: 30px;
}
/* Universal Spacing (margin) */
.margin-xxs {
  margin: 5px;
}
.margin-xs {
  margin: 10px;
}
.margin-s {
  margin: 15px;
}
.margin-m {
  margin: 20px;
}
.margin-l {
  margin: 25px;
}
.margin-xl {
  margin: 60px;
}
/* Universal Spacing (padding) */
.padding-xxs {
  margin: 5px;
}
.padding-xs {
  margin: 10px;
}
.padding-s {
  margin: 15px;
}
.padding-m {
  margin: 20px;
}
.padding-l {
  margin: 25px;
}
.padding-xl {
  margin: 60px;
}
/* Individual Spacing (margin-top) */
.margin-top-xxs {
  margin-top: 5px;
}
.margin-top-xs {
  margin-top: 10px;
}
.margin-top-s {
  margin-top: 15px;
}
.margin-top-m {
  margin-top: 20px;
}
.margin-top-l {
  margin-top: 25px;
}
.margin-top-xl {
  margin-top: 60px;
}
/* Individual Spacing (margin-right) */
.margin-right-xxs {
  margin-right: 5px;
}
.margin-right-xs {
  margin-right: 10px;
}
.margin-right-s {
  margin-right: 15px;
}
.margin-right-m {
  margin-right: 20px;
}
.margin-right-l {
  margin-right: 25px;
}
.margin-right-xl {
  margin-right: 60px;
}
/* Individual Spacing (margin-bottom) */
.margin-bottom-xxs {
  margin-bottom: 5px;
}
.margin-bottom-xs {
  margin-bottom: 10px;
}
.margin-bottom-s {
  margin-bottom: 15px;
}
.margin-bottom-m {
  margin-bottom: 20px;
}
.margin-bottom-l {
  margin-bottom: 25px;
}
.margin-bottom-xl {
  margin-bottom: 60px;
}
/* Individual Spacing (margin-left) */
.margin-left-xxs {
  margin-left: 5px;
}
.margin-left-xs {
  margin-left: 10px;
}
.margin-left-s {
  margin-left: 15px;
}
.margin-left-m {
  margin-left: 20px;
}
.margin-left-l {
  margin-left: 25px;
}
.margin-left-xl {
  margin-left: 60px;
}
/* Individual Spacing (padding-top) */
.padding-top-xxs {
  padding-top: 5px;
}
.padding-top-xs {
  padding-top: 10px;
}
.padding-top-s {
  padding-top: 15px;
}
.padding-top-m {
  padding-top: 20px;
}
.padding-top-l {
  padding-top: 25px;
}
.padding-top-xl {
  padding-top: 60px;
}
/* Individual Spacing (padding-right) */
.padding-right-xxs {
  padding-right: 5px;
}
.padding-right-xs {
  padding-right: 10px;
}
.padding-right-s {
  padding-right: 15px;
}
.padding-right-m {
  padding-right: 20px;
}
.padding-right-l {
  padding-right: 25px;
}
.padding-right-xl {
  padding-right: 60px;
}
/* Individual Spacing (padding-bottom) */
.padding-bottom-xxs {
  padding-bottom: 5px;
}
.padding-bottom-xs {
  padding-bottom: 10px;
}
.padding-bottom-s {
  padding-bottom: 15px;
}
.padding-bottom-m {
  padding-bottom: 20px;
}
.padding-bottom-l {
  padding-bottom: 25px;
}
.padding-bottom-xl {
  padding-bottom: 60px;
}
/* Individual Spacing (padding-left) */
.padding-left-xxs {
  padding-left: 5px;
}
.padding-left-xs {
  padding-left: 10px;
}
.padding-left-s {
  padding-left: 15px;
}
.padding-left-m {
  padding-left: 20px;
}
.padding-left-l {
  padding-left: 25px;
}
.padding-left-xl {
  padding-left: 60px;
}
/* No padding */
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
/* No margin */
.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
/* Border Radius */
.border-radius-s {
  border-radius: 3px;
}
.border-radius-m {
  border-radius: 5px;
}
.border-radius-l {
  border-radius: 10px;
}
/* Box Shadows */
.box-shadow-light {
  box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
}
.box-shadow-medium {
  box-shadow: 0 0 4px 0 rgba(192, 192, 192, 0.5);
}
.box-shadow-dark {
  box-shadow: 0 0 4px 0 rgba(94, 94, 94, 0.5);
}
/* Button */
.btn {
  border: 0 none;
  font-weight: 400;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}
/* Button Sizes */
.btn-xl {
  padding: 20px 35px;
  font-size: 16px;
  border-radius: 3px;
}
.btn-l {
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 3px;
}
.btn-m {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 3px;
}
.btn-s {
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 3px;
}
.btn-xs {
  padding: 5px 15px;
  font-size: 10px;
  border-radius: 3px;
}
.btn-block {
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-full {
  width: 100%;
  display: block;
}
/* Button Flat */
.btn-primary {
  background-color: #F26525;
  color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:hover:focus {
  background-color: #FF7F45;
  color: #FFFFFF;
  transition: background-color 0.5s ease;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #D6561D;
  color: #FFFFFF;
}
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  background-color: #D6561D;
  color: #FFFFFF;
}
.btn-primary:active:focus,
.btn-primary.active {
  background-color: #D6561D;
  color: #FFFFFF;
  box-shadow: none;
}
.btn-secondary {
  background-color: #008CCF;
  color: #FFFFFF;
}
.btn-secondary:hover,
.btn-secondary:hover:focus {
  background-color: #00A6F5;
  color: #FFFFFF;
  transition: background-color 0.5s ease;
}
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #008CCF;
  color: #FFFFFF;
}
.open > .dropdown-toggle.btn-secondary,
.open > .dropdown-toggle.btn-secondary.focus,
.open > .dropdown-toggle.btn-secondary:focus,
.open > .dropdown-toggle.btn-secondary:hover {
  background-color: #0072A9;
  color: #FFFFFF;
}
.btn-secondary:active:focus,
.btn-secondary.active {
  background-color: #0072A9;
  color: #FFFFFF;
  box-shadow: none;
}
.btn-ghost-primary {
  background-color: #FFFFFF;
  color: #555761;
  border: 1px solid #E0E6ED;
}
.btn-ghost-primary:hover,
.btn-ghost-primary:hover:focus {
  background-color: #F26525;
  color: #FFFFFF;
  transition: background-color 0.5s ease;
}
.btn-ghost-primary:focus,
.btn-ghost-primary:active,
.btn-ghost-primary.active {
  background-color: #FFFFFF;
  color: #555761;
  border: 1px solid #E0E6ED;
}
.open > .dropdown-toggle.btn-ghost-primary,
.open > .dropdown-toggle.btn-ghost-primary.focus,
.open > .dropdown-toggle.btn-ghost-primary:focus,
.open > .dropdown-toggle.btn-ghost-primary:hover {
  background-color: #D6561D;
  color: #FFFFFF;
}
.btn-ghost-primary:active:focus,
.btn-ghost-primary.active {
  background-color: #D6561D;
  color: #FFFFFF;
  box-shadow: none;
}
.btn-ghost-secondary {
  background-color: #FFFFFF;
  color: #555761;
  border: 1px solid #E0E6ED;
}
.btn-ghost-secondary:hover,
.btn-ghost-secondary:hover:focus {
  background-color: #008CCF;
  color: #FFFFFF;
  transition: background-color 0.5s ease;
}
.btn-ghost-secondary:focus,
.btn-ghost-secondary:active,
.btn-ghost-secondary.active {
  background-color: #FFFFFF;
  color: #555761;
  border: 1px solid #E0E6ED;
}
.open > .dropdown-toggle.btn-ghost-secondary,
.open > .dropdown-toggle.btn-ghost-secondary.focus,
.open > .dropdown-toggle.btn-ghost-secondary:focus,
.open > .dropdown-toggle.btn-ghost-secondary:hover {
  background-color: #0072A9;
  color: #FFFFFF;
}
.btn-ghost-secondary:active:focus,
.btn-ghost-secondary.active {
  background-color: #0072A9;
  color: #FFFFFF;
  box-shadow: none;
}
.btn-primary-border {
  border: 1px solid #F26525;
  color: #F26525;
}
.btn-primary-border:hover,
.btn-primary:hover:focus {
  background-color: #FF7F45;
  color: #FFFFFF;
  transition: background-color 0.5s ease;
}
.btn-primary-border:focus,
.btn-primary-border:active,
.btn-primary-border.active {
  background-color: #F26525;
  color: #FFFFFF;
}
.btn-secondary-border {
  border: 1px solid #008CCF;
  color: #008CCF;
}
.btn-secondary-border:hover,
.btn-secondary:hover:focus {
  background-color: #008CCF;
  color: #FFFFFF;
  transition: background-color 0.5s ease;
}
.btn-secondary-border:focus,
.btn-secondary-border:active,
.btn-secondary-border.active {
  background-color: #008CCF;
  color: #FFFFFF;
}
/* Forms */
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background-color: #FFFFFF;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #008CCF;
  border-color: #008CCF;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  width: 100%;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.radio-primary input[type="radio"] + label::after {
  background-color: #008CCF;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #008CCF;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #008CCF;
}
.radio.radio-right {
  padding-left: 0;
}
.radio.radio-right input[type="radio"] {
  right: 0;
  left: auto;
}
.radio.radio-right label::before,
.radio.radio-right label::after {
  left: auto;
  right: 0;
}
.radio.radio-right label::after {
  right: 3px;
}
.radio.radio-right label {
  padding-right: 20px;
  padding-left: 0;
}
