/*!
 * RUPARUPA UI v1.0 (https://www.ruparupa.com)
 * Copyright 2018 RUPARUPA Product Team
 */

/* Fonts */

@font-face {
    font-family: 'QuickSand';
    src: url(../fonts/QuickSand/Quicksand-Regular.ttf);
}

@font-face {
    font-family: 'QuickSand';
    src: url(../fonts/QuickSand/Quicksand-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'QuickSand';
    src: url(../fonts/QuickSand/Quicksand-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'QuickSand';
    src: url(../fonts/QuickSand/Quicksand-Light.ttf);
    font-weight: 300;
}

/* Document Variables */

@import 'variables.less';

/* General */

a,
button {
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active,
input:hover,
input:focus,
input:active,
select:hover,
select:focus,
select:active {
    outline: 0 !important;
    text-decoration: none;
    box-shadow: none;
}

img {
    max-width: 100%;
}

/* Typography */

.font-size-xxxl,
h1 {
    font-size: @font-size-xxxl;
}

.font-size-xxl,
h2 {
    font-size: @font-size-xxl;
}

.font-size-xl,
h3 {
    font-size: @font-size-xl;
}

.font-size-l,
h4 {
    font-size: @font-size-l;
}

.font-size-m {
    font-size: @font-size-m;
}

.font-size-s {
    font-size: @font-size-s;
}

.font-size-xs {
    font-size: @font-size-xs;
}

.font-size-xxs {
    font-size: @font-size-xxs;
}

.bold {
    font-weight: 700 !important;
}

p {
    line-height: 30px;
}

/* Universal Spacing (margin) */

.margin-xxs {
    margin: @margin-xxs;
}

.margin-xs {
    margin: @margin-xs;
}

.margin-s {
    margin: @margin-s;
}

.margin-m {
    margin: @margin-m;
}

.margin-l {
    margin: @margin-l;
}

.margin-xl {
    margin: @margin-xl;
}

/* Universal Spacing (padding) */

.padding-xxs {
    margin: @padding-xxs;
}

.padding-xs {
    margin: @padding-xs;
}

.padding-s {
    margin: @padding-s;
}

.padding-m {
    margin: @padding-m;
}

.padding-l {
    margin: @padding-l;
}

.padding-xl {
    margin: @padding-xl;
}

/* Individual Spacing (margin-top) */

.margin-top-xxs {
    margin-top: @margin-xxs;
}

.margin-top-xs {
    margin-top: @margin-xs;
}

.margin-top-s {
    margin-top: @margin-s;
}

.margin-top-m {
    margin-top: @margin-m;
}

.margin-top-l {
    margin-top: @margin-l;
}

.margin-top-xl {
    margin-top: @margin-xl;
}

/* Individual Spacing (margin-right) */

.margin-right-xxs {
    margin-right: @margin-xxs;
}

.margin-right-xs {
    margin-right: @margin-xs;
}

.margin-right-s {
    margin-right: @margin-s;
}

.margin-right-m {
    margin-right: @margin-m;
}

.margin-right-l {
    margin-right: @margin-l;
}

.margin-right-xl {
    margin-right: @margin-xl;
}

/* Individual Spacing (margin-bottom) */

.margin-bottom-xxs {
    margin-bottom: @margin-xxs;
}

.margin-bottom-xs {
    margin-bottom: @margin-xs;
}

.margin-bottom-s {
    margin-bottom: @margin-s;
}

.margin-bottom-m {
    margin-bottom: @margin-m;
}

.margin-bottom-l {
    margin-bottom: @margin-l;
}

.margin-bottom-xl {
    margin-bottom: @margin-xl;
}

/* Individual Spacing (margin-left) */

.margin-left-xxs {
    margin-left: @margin-xxs;
}

.margin-left-xs {
    margin-left: @margin-xs;
}

.margin-left-s {
    margin-left: @margin-s;
}

.margin-left-m {
    margin-left: @margin-m;
}

.margin-left-l {
    margin-left: @margin-l;
}

.margin-left-xl {
    margin-left: @margin-xl;
}

/* Individual Spacing (padding-top) */

.padding-top-xxs {
    padding-top: @padding-xxs;
}

.padding-top-xs {
    padding-top: @padding-xs;
}

.padding-top-s {
    padding-top: @padding-s;
}

.padding-top-m {
    padding-top: @padding-m;
}

.padding-top-l {
    padding-top: @padding-l;
}

.padding-top-xl {
    padding-top: @padding-xl;
}

/* Individual Spacing (padding-right) */

.padding-right-xxs {
    padding-right: @padding-xxs;
}

.padding-right-xs {
    padding-right: @padding-xs;
}

.padding-right-s {
    padding-right: @padding-s;
}

.padding-right-m {
    padding-right: @padding-m;
}

.padding-right-l {
    padding-right: @padding-l;
}

.padding-right-xl {
    padding-right: @padding-xl;
}

/* Individual Spacing (padding-bottom) */

.padding-bottom-xxs {
    padding-bottom: @padding-xxs;
}

.padding-bottom-xs {
    padding-bottom: @padding-xs;
}

.padding-bottom-s {
    padding-bottom: @padding-s;
}

.padding-bottom-m {
    padding-bottom: @padding-m;
}

.padding-bottom-l {
    padding-bottom: @padding-l;
}

.padding-bottom-xl {
    padding-bottom: @padding-xl;
}

/* Individual Spacing (padding-left) */

.padding-left-xxs {
    padding-left: @padding-xxs;
}

.padding-left-xs {
    padding-left: @padding-xs;
}

.padding-left-s {
    padding-left: @padding-s;
}

.padding-left-m {
    padding-left: @padding-m;
}

.padding-left-l {
    padding-left: @padding-l;
}

.padding-left-xl {
    padding-left: @padding-xl;
}

/* No padding */

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

/* No margin */

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

/* Border Radius */

.border-radius-s {
    border-radius: 3px;
}

.border-radius-m {
    border-radius: 5px;
}

.border-radius-l {
    border-radius: 10px;
}

/* Box Shadows */

.box-shadow-light {
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
}

.box-shadow-medium {
    box-shadow: 0 0 4px 0 rgba(192, 192, 192, 0.5);
}

.box-shadow-dark {
    box-shadow: 0 0 4px 0 rgba(94, 94, 94, 0.5);
}

/* Button */

.btn {
    border: 0 none;
    font-weight: 400;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

/* Button Sizes */

.btn-xl {
    padding: 20px 35px;
    font-size: 16px;
    border-radius: 3px;
}

.btn-l {
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 3px;
}

.btn-m {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 3px;
}

.btn-s {
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 3px;
}

.btn-xs {
    padding: 5px 15px;
    font-size: 10px;
    border-radius: 3px;
}

.btn-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-full {
    width: 100%;
    display: block;
}

/* Button Flat */

.btn-primary {
    background-color: @primary;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:hover:focus {
    background-color: @primary-lighter;
    color: #FFFFFF;
    transition: background-color 0.5s ease;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: @primary-darker;
    color: #FFFFFF;
}

.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    background-color: @primary-darker;
    color: #FFFFFF;
}

.btn-primary:active:focus,
.btn-primary.active {
    background-color: @primary-darker;
    color: #FFFFFF;
    box-shadow: none;
}

.btn-secondary {
    background-color: @secondary;
    color: #FFFFFF;
}

.btn-secondary:hover,
.btn-secondary:hover:focus {
    background-color: @secondary-lighter;
    color: #FFFFFF;
    transition: background-color 0.5s ease;
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
    background-color: @secondary;
    color: #FFFFFF;
}

.open > .dropdown-toggle.btn-secondary,
.open > .dropdown-toggle.btn-secondary.focus,
.open > .dropdown-toggle.btn-secondary:focus,
.open > .dropdown-toggle.btn-secondary:hover {
    background-color: @secondary-darker;
    color: #FFFFFF;
}

.btn-secondary:active:focus,
.btn-secondary.active {
    background-color: @secondary-darker;
    color: #FFFFFF;
    box-shadow: none;
}

.btn-ghost-primary {
    background-color: #FFFFFF;
    color: @primary-gray;
    border: 1px solid @icon-light-gray;
}

.btn-ghost-primary:hover,
.btn-ghost-primary:hover:focus {
    background-color: @primary;
    color: #FFFFFF;
    transition: background-color 0.5s ease;
}

.btn-ghost-primary:focus,
.btn-ghost-primary:active,
.btn-ghost-primary.active {
    background-color: #FFFFFF;
    color: @primary-gray;
    border: 1px solid @icon-light-gray;
}

.open > .dropdown-toggle.btn-ghost-primary,
.open > .dropdown-toggle.btn-ghost-primary.focus,
.open > .dropdown-toggle.btn-ghost-primary:focus,
.open > .dropdown-toggle.btn-ghost-primary:hover {
    background-color: @primary-darker;
    color: #FFFFFF;
}

.btn-ghost-primary:active:focus,
.btn-ghost-primary.active {
    background-color: @primary-darker;
    color: #FFFFFF;
    box-shadow: none;
}

.btn-ghost-secondary {
    background-color: #FFFFFF;
    color: @primary-gray;
    border: 1px solid @icon-light-gray;
}

.btn-ghost-secondary:hover,
.btn-ghost-secondary:hover:focus {
    background-color: @secondary;
    color: #FFFFFF;
    transition: background-color 0.5s ease;
}

.btn-ghost-secondary:focus,
.btn-ghost-secondary:active,
.btn-ghost-secondary.active {
    background-color: #FFFFFF;
    color: @primary-gray;
    border: 1px solid @icon-light-gray;
}

.open > .dropdown-toggle.btn-ghost-secondary,
.open > .dropdown-toggle.btn-ghost-secondary.focus,
.open > .dropdown-toggle.btn-ghost-secondary:focus,
.open > .dropdown-toggle.btn-ghost-secondary:hover {
    background-color: @secondary-darker;
    color: #FFFFFF;
}

.btn-ghost-secondary:active:focus,
.btn-ghost-secondary.active {
    background-color: @secondary-darker;
    color: #FFFFFF;
    box-shadow: none;
}

.btn-primary-border {
    border: 1px solid @primary;
    color: @primary;
}

.btn-primary-border:hover,
.btn-primary:hover:focus {
    background-color: @primary-lighter;
    color: #FFFFFF;
    transition: background-color 0.5s ease;
}

.btn-primary-border:focus,
.btn-primary-border:active,
.btn-primary-border.active {
    background-color: @primary;
    color: #FFFFFF;
}

.btn-secondary-border {
    border: 1px solid @secondary;
    color: @secondary;
}

.btn-secondary-border:hover,
.btn-secondary:hover:focus {
    background-color: @secondary;
    color: #FFFFFF;
    transition: background-color 0.5s ease;
}

.btn-secondary-border:focus,
.btn-secondary-border:active,
.btn-secondary-border.active {
    background-color: @secondary;
    color: #FFFFFF;
}

/* Forms */

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: @secondary;
    border-color: @secondary;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    width: 100%;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: @secondary;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: @secondary;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: @secondary;
}

.radio.radio-right {
    padding-left: 0;
}

.radio.radio-right input[type="radio"] {
    right: 0;
    left: auto;
}

.radio.radio-right label::before,
.radio.radio-right label::after {
    left: auto;
    right: 0;
}

.radio.radio-right label::after {
    right: 3px;
}

.radio.radio-right label {
    padding-right: 20px;
    padding-left: 0;
}
